<main>
	<div id="header-wrap" class="row valign-wrapper">
		<div class="col s4 m5 l5 pull-s1">
			<h1><a href="/users/{{user.id}}" class="black-text"><i class="material-icons hide-on-small-only">settings</i>{{user.userName}}</a></h1>
		</div>
		<div class="col s4 pull-s1 push-m1 push-l1">
			<form action="/sessions?_method=DELETE" method="POST">
				<input type="submit" value="Log Out" class="btn grey darken-3">
			</form>
		</div>
	</div>
</main>














<h1></h1>
<br>
	{{#each cards}}
		<form action="/{{../user}}/decks/{{../deck}}/edit/addcard/{{this.id}}?_method=PATCH" method="POST">
			<input type="submit" value="{{this.name}}">
		</form>
	{{/each}}
