<main>
	<div id="header-wrap" class="row valign-wrapper">
		<div class="col s4 m5 l5 pull-s1">
			<h1><a href="/users/{{user.id}}" class="black-text"><i class="material-icons hide-on-small-only">settings</i>{{user.userName}}</a></h1>
		</div>
		<div class="col s4 pull-s1 push-m1 push-l1">
			<form action="/sessions?_method=DELETE" method="POST">
				<input type="submit" value="Log Out" class="btn grey darken-3">
			</form>
		</div>
	</div>
	<div class="row">
		<h1 class="col s12">Edit Deck</h1>
	</div>
	<div class="row">
		<h5><a href="/{{user.id}}/decks/{{deck.id}}/edit/addcard" class="col s6 offset-s3 btn">Add Card</a></h5>
	</div>
	<div class="row">
		<form class="col s12" action="/{{user.id}}/decks/{{deck.id}}/edit?_method=PATCH" method="POST">
			<div class="col s12 input-field">
				<label for="name">Name: </label>
				<input type="text" name="name" value="{{deck.name}}" class="grey-text text-darken-3">
			</div>
			<div class="col s12 input-field">
				<label for="format">Format: </label>
				<input class="grey-text text-darken-3" type="text" name="format" value="{{deck.format}}">
			</div>
			<div>
				<input type="submit" value="Submit Changes" class="btn grey darken-3">
			</div>
		</form>
	</div>
	<div class="row">
		<form class="col s12" action="/{{user.id}}/decks/{{deck.id}}/delete?_method=DELETE" method="POST">
			<input type="submit" value="DELETE DECK" class="btn grey darken-3">
		</form>
	</div>
	<div class="row" id="decks-row">
		{{#each deck.mainDeck}}
			<div class="col l5 m5 s8 offset-l1 offset-m1 offset-s3 mtg-card-container" style="background: url({{this.imageUrl}}); background-size: cover; background-size: contain; height: 300px; background-repeat: no-repeat; margin-top: 5%;">
				<div class="row">						
					<form action="/{{../user.id}}/decks/{{../deck.id}}/cardRemove/{{this.id}}?_method=PATCH" method="POST" class="col s12">
						<button name="action" type="submit" class="btn-floating red">X</button>
					</form>
					<form action="/{{../user.id}}/decks/{{../deck.id}}/quantity/{{this.id}}?_method=PATCH" method="POST" class="col s5 card-quantity">
						<div class="input-field grey darken-3">
							<label for="quantity" class="white-text grey darken-3">Quantity</label>
							<input type="number" name="quantity" class="white-text" value="{{this.quantity}}">
						</div>
						<input type="submit" class="btn  col s12 card-quantity grey darken-3" value="SAVE">
					</form>
				</div>
			</div>
		{{/each}}
	</div>
</main>




	
	
	
