<h1>Edit Deck</h1>
<p><a href="/{{user}}/decks/{{deck.id}}/edit/addcard">Add Card</a></p>
<form action="/{{user}}/decks/{{deck.id}}/edit?_method=PATCH" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name" value="{{deck.name}}">
	</div>
	<div>
		<label for="format">Format: </label>
		<input type="text" name="format" value="{{deck.format}}">
	</div>
	<div>
		<input type="submit" value="Submit Changes">
	</div>
</form>