<main>
	<!-- HEADER -->
	<div id="header-wrap" class="row valign-wrapper">
		<div class="col s4 m5 l5 pull-s1">
			<h1><a href="" class="black-text"><i class="material-icons hide-on-small-only">settings</i>{{user.userName}}</a></h1>
		</div>
		<div class="col s4 pull-s1 push-m1 push-l1">
			<form action="/sessions?_method=DELETE" method="POST">
				<input type="submit" value="Log Out" class="btn grey darken-3">
			</form>
		</div>
	</div>
	<!-- USER EDIT FORM -->		
	<div class="row">
		<form action="/users/{{user.id}}?_method=PATCH" method="POST" class="col s12">
			<div class="row">
				<div class="col s6 input-field">
					<i class="material-icons prefix hide-on-small-only">perm_identity</i>
					<label for="firstName">First Name: </label>
					<input type="text" name="firstName" class="grey-text text-darken-3 validate" value="{{user.firstName}}" required>
				</div>
				<div class="col 6 input-field">
					<i class="material-icons prefix hide-on-small-only">perm_identity</i>
					<label for="lastName">Last Name: </label>
					<input type="text" name="lastName" class="grey-text text-darken-3 validate" value="{{user.lastName}}" required>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<i class="material-icons prefix hide-on-small-only">email</i>
					<label for="email">Email: </label>
					<input type="email" name="email" class="grey-text text-darken-3 validate" value="{{user.email}}" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6 input-field">
					<i class="material-icons prefix hide-on-small-only">person_pin</i>
					<label for="userName">User Name: </label>
					<input type="text" name="userName" class="grey-text text-darken-3 validate" value="{{user.userName}}" required>
				</div>
				<div class="col s6 input-field">
					<i class="material-icons prefix hide-on-small-only">lock</i>
					<label for="password">Password: </label>
					<input type="text" name="password" class="grey-text text-darken-3 validate" value="{{user.password}}" required>
				</div>	
			</div>
			<div>
				<input type="submit" value="Save Changes" class="btn grey darken-3">
			</div>
		</form>
	</div>
	<!-- USER DELETE BUTTON -->
	<div class="row">
		<div>
			<a href="#delete-user" class=" btn grey darken-3">Delete Account</a>
		</div>
	</div>
</main>




	<!-- USER DELETE MODAL -->
<div id="delete-user" class="modal">
	<div class="modal-content">
		<h1>Are you sure you want to delete your account?</h1>
		<h2>This is not reversible!</h2>
	</div>
	<div class="modal-footer row">
		<a href="#!" class="modal-action modal-close btn col s6">No</a><form action="/users/{{user.id}}?_method=DELETE" method="POST" class="col s6"><button class="btn" type="submit" name="action">Yes</button></form>
	</div>
</div>








